<mat-card>
<mat-card-title>Links to pages</mat-card-title>
<div *ngFor="let entry of navArray">
    <mat-card-header>
    </mat-card-header>
    <mat-card-actions>
        <div class="button-container">
            <button mat-button routerLink="{{entry}}" mat-stroked-button color="black" >{{entry}}</button>
        </div>
    </mat-card-actions>

</div>
</mat-card>
























































































































































































































































































































































































































































































