<mat-card>
     <button mat-button *ngIf="!isReady" (click)="fetchHistoricalPrices()">Click Here to get the history </button>
</mat-card>
    <div *ngIf="isReady">
<table mat-table [dataSource]="responses">
    <ng-container matColumnDef="sNo">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let resp">{{ resp.time }}</td>
    </ng-container>
    <ng-container matColumnDef="high">
      <th mat-header-cell *matHeaderCellDef>High</th>
      <td mat-cell *matCellDef="  let resp">{{ resp.high }}</td>
    </ng-container>
    <ng-container matColumnDef="low">
      <th mat-header-cell *matHeaderCellDef>Low</th>
      <td mat-cell *matCellDef="  let resp">{{ resp.low }}</td>
    </ng-container>
    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef>Open</th>
      <td mat-cell *matCellDef="  let resp">{{ resp.open }}</td>
    </ng-container>
    <ng-container matColumnDef="volumeFrom">
      <th mat-header-cell *matHeaderCellDef>Volume From</th>
      <td mat-cell *matCellDef="  let resp">{{ resp.volumefrom }}</td>
    </ng-container>
    <ng-container matColumnDef="volumeTo">
      <th mat-header-cell *matHeaderCellDef>Volume To</th>
      <td mat-cell *matCellDef="  let resp">{{ resp.volumeto }}</td>
    </ng-container>
    <ng-container matColumnDef="close">
      <th mat-header-cell *matHeaderCellDef>Close</th>
      <td mat-cell *matCellDef="  let resp">{{ resp.close }}</td>
    </ng-container>
    <ng-container matColumnDef="conversionType">
      <th mat-header-cell *matHeaderCellDef>Conversion Type</th>
      <td mat-cell *matCellDef="  let resp">{{ resp.conversionType }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['sNo', 'time', 'high', 'low', 'open', 'volumeFrom', 'volumeTo', 'close', 'conversionType']"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>