<!-- <h1> Hello</h1> -->
<!-- <app-employee></app-employee> -->
<!-- <app-employee-with-service></app-employee-with-service> -->
<!-- <app-github-user></app-github-user> -->
<!-- <app-crypto-single-price></app-crypto-single-price> -->
<!-- <app-github-repos></app-github-repos> -->
<!-- <app-crypto-compare-price></app-crypto-compare-price> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-pipes-demo></app-pipes-demo> -->
<!-- <app-user-details></app-user-details> -->
<router-outlet></router-outlet>
