<mat-card>
<div class="container" *ngIf="!isFormReady">
  <h2> User Info </h2>
  <form  [formGroup]="userForm"  (ngSubmit)="onSave()"> 


      <div class="form-group">

        <label>Name</label>
        <input type="text" class = "form-control" formControlName="name" placeholder="Please enter your name">

        <div *ngIf="userForm.controls['name'].hasError('required')">
          <mat-error> Please enter a name </mat-error>
        </div>

        <div *ngIf="userForm.controls['name'].hasError('minlength')">
          <mat-error>Please enter a name of at least 4 characters</mat-error>
        </div>

        <div *ngIf="userForm.controls['name'].hasError('maxlength')">
          <mat-error>Please enter a name of at the most 10 characters</mat-error>
        </div>

      </div>
    
    <div class="form-group">

      <label> Age </label>
      <input type="text" class = "form-control" formControlName="age" >
        
    <div *ngIf="userForm.controls['age'].hasError('required')">
        <mat-error>Please enter a valid age between 0 and 150</mat-error>
    </div>

    <div *ngIf="userForm.controls['age'].hasError('min')">
        <mat-error>Minimum age should be 0</mat-error>
    </div>

    <div *ngIf="userForm.controls['age'].hasError('max')">
       <mat-error> Maximum age should be 150 </mat-error>
    </div>

    </div>


    <br>
    <br>

    <div class="form-group">

      <label> Gender </label>
      <select class="form-control" formControlName="gender">
          <option value="MALE"> MALE  </option>  
          <option value="FEMALE"> FEMALE  </option>  
          <option value="CHOOSE NOT TO DISCLOSE"> CHOOSE NOT TO DISCLOSE  </option>  
      </select>
        
      <div *ngIf="userForm.controls['gender'].hasError('required')">
          <mat-error>Please select a gender option</mat-error>
      </div>

    </div>
    

    <br>
    <br>


    <div class="form-group" >

      <label> Email </label>
      <input type="email" class = "form-control" formControlName="email" >
    


      <div *ngIf="userForm.controls['email'].hasError('pattern')">
        <mat-error>Please enter acceptable email ID</mat-error>
    </div>
    </div>


    <br>
    <br>

    <div formGroupName="address">

      <div class="form-group" > 
        <label> Street </label>
        <input type="text" class = "form-control" formControlName="street">
        
      </div>
      

      <br>
    <div class="form-group">

      <label> City </label>
      <input type="text" class = "form-control"  formControlName="city">

    </div>

    <br>

    <div class="form-group" >

      <label> Zip Code </label>
      <input type="text" class = "form-control" formControlName="postal_code">
     
    
    </div>


    </div>


    <br>
  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid" >  Submit Form  </button>

</form>
</div>

<div *ngIf="isFormReady">

    <app-model-from-child  [formData]="userForm.value"  ></app-model-from-child>

</div>
</mat-card>